{{- define "custom.custom.configuration.header" -}}
## Custom configuration
{{- end -}}

{{- define "custom.custom.configuration" -}}
{{ template "custom.custom.configuration.header" . }}

Your Plex token can either be passed as a value in values.yml, or you can provide a environment variable of `PLEX_TOKEN` or `TOKEN` by a method of your choice.
{{- end -}}
